body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: lightgreen;
}

.about-page, .todos-page{
  padding: 2%;
  margin: 2%;
  height: 80vh;
  width: 70vw;
}

.about-page{
  border: 3px solid red;
  background-color: yellow;
}

.todos-page{
  border: 3px solid blue;
  background-color: #B4E33D;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;

  position:absolute; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;

  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width:100%;
  max-height:100%;
  overflow:auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
  
}