body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 70vw;
  margin: auto;
}
.currencyList{
  padding: 30px;
  margin: auto;
  background-color: lightgreen;
  text-align: center;
}

.error-msg{
  color: red;
}
 